*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-------------------------------------content----------------------------------------------------------------*/

.contenedor{
    justify-content: center;
    display: flex;
    font-size: 25px;
    padding: 100px;
    text-align: center;
    text-shadow: black 0px 0px 2px;
}


.cont-contact{
    flex-direction: column;
    color: #4a5d16;

}

.cont-contact-logo{
    color: #4a5d16;
    margin: 7px;
    font-size: 50px;
}

.mapa{
    object-fit: cover;
}

.cont-formu{
    margin-right: 150px;
}

.cuadros{
    width: 500px;
    height: 55px;
    background-color: #697e31bb;
    box-shadow: rgba(0, 0, 0, 0.794) 3px 3px 4px;
    border-radius: 10px;
    border: none;
    color: #2d3d00;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cuadro-area{
    height: 240px !important;
}

.requerido1{
    color: red;
    font-size: 15px;
    margin-top: -45px;
    margin-left: -150px;  
}

.requerido2{
    color: red;
    font-size: 15px;
    margin-top: -45px;
    margin-left: -120px;  
}


.buton{
    width: 290px;
    height: 45px;
    background-color: #697e31bb;
    box-shadow: rgba(0, 0, 0, 0.794) 3px 3px 4px;
    border-radius: 10px;
    border: none;
    color: #4a5d16;
    text-shadow: black 0px 0px 2px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.buton:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

::-webkit-input-placeholder{
    font-size: 19px;
    text-transform: uppercase;
    color: #2d3d0080;
    text-align: center;
}

@media screen and (max-width: 800px){
    .contenedor{
        flex-wrap: wrap;
    }
    .cont-formu{
        margin-right:0px;
    }
    .cuadros{
        width: 400px;
    }
    .buton{
        width: 400px;
    }

    ::-webkit-input-placeholder{
        font-size: 13px;
    }

    }

@media screen and (max-width: 500px){
    .cuadros{
        width: 300px;
    }
    .buton{
        width: 300px;
    }
    }
@media screen and (max-width: 428px){
    .cuadros{
        width: 200px;
        height: 25px;
    }
    .cuadro-area{
        height: 100px !important;
    }
    .cont-contact{
        font-size: 25px;
    }
    .cont-contact-logo{
        font-size: 25px;
    }

    .requerido1{
        margin-top: -30px;
        margin-left: -107px;  
    }
    
    .requerido2{
        margin-top: -30px;
        margin-left: -80px;  
    }
    .buton{
        width: 200px;
    }

}