@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-------------------------------------section----------------------------------------------------------------*/


.mapa{
    object-fit: cover;
}

.contenedor{
    justify-content: center;
    display: flex;
    font-size: 25px;
}

.contactos{
    width: 500px;
    margin-right: 50px;
    padding: 50px;
    background-color: #c8d3af;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: #a3af86 2px 2px 1px;
}

.cont-contact{
    color: #293015;
}

.formu{
    width: 500px;
    padding: 50px;
    background-color: #c8d3af;
    border-radius: 15px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: #a3af86 4px 4px 1px;
}

label{
    color: #293015;
    margin-left: 25px;
}

.cuadros{
    width: 400px;
    padding: 20px;
    box-shadow: #727a5db9 2px 2px 4px;
    background-color: #9ead79bb;
    border-radius: 15px;
    border: none;
}
