*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------Menu----------------------------------------------------------*/
.contact-info{
    float: left;
    position: fixed;
    top: 30%;
    z-index: 99999;
    left: 0;
    text-align: center;
  }

  .option{
    cursor: pointer;
    position: relative;
    background: #4b4f25 ;
    border-radius: 0 50px 50px 0;
    padding: 5px;
  }

  .option a{
    text-decoration: none;
    color: #ffffff;
  }

  .option i{
    display: block;
    width: 51px;
    height: 51px;
    line-height: 51px;
    background: #ffffff;
    color:  #4b4f25 ;
    font-size: 20px;
    transition: 0.8s;
    border-radius: 50%;
  }

  .option i:hover{
    background: #ffffff;
    color:  #4b4f25 ;
    transform: rotateY(360deg);
  }

  .text{
    position: absolute;
    height: 60px;
    width: 250px;
    background: linear-gradient(to right, #4b4f25 , #717f38 );
    border-radius: 0 50px 50px 0;
    top: 0;
    z-index: -1;
    left: -290px;
    line-height: 60px;
    transition: 0.6s;
  }

  .option:hover .text{
    left: 35px;
    background:  #4b4f25 ;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b4f25 , #717f38  );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b4f25 , #717f38 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

/*---------------------------------Header----------------------------------------------------------*/

header{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.portada{
    width: 100%;
    height: 100%;
}

.img-portada{
    width: 100%;
    height: 600px;
}

.titulo{
    font-size: 90px;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}


#container{
    width: 100%;
    position: absolute;
    bottom: -6px;
    overflow: hidden;
 
}

#container svg{
    width: 200%;
    position: relative;
    animation: move-left 5s linear infinite;
    
}

@keyframes move-left{
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
    
}

.galeria{
    margin-top: 300px;
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #000000;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}